<header>
    <div class='container'>
        <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
            <div class="container">
                

                    <ul class="navbar-nav mr-auto">
                        <div class="col-xl">
                            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                <a class="nav-link" routerLink="/">Cool logo <span class="sr-only">(current)</span></a>
                            </li>
                        </div>
                        <div class="col-xl">
                            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
                            </li>
                        </div>
                        <div class="col-xl">
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="/sports">Sports</a>
                            </li>
                        </div>
                        <div class="col-xl">
                            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                                <a class="nav-link" routerLink="/aboutUs">About Us <span
                                        class="sr-only">(current)</span></a>
                            </li>
                        </div>
                        <div class="col-xl">
                            <li class="nav-item" routerLinkActive="active">
                                <a class="nav-link" routerLink="/contactUs">Contact Us</a>
                            </li>
                        </div>
                    </ul>
                </div>
            
        </nav>
    </div>
</header>