<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="/stylesheets/index.css">
    <%- include('./header') %>
    <title>Add Newses</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3 class="text-center p-2">Add News</h3>
    <div class="container">
      <form method="POST" action="http://localhost:3000/add">
        <div class="form-group">
          <label for="inputTitle">Title</label>
          <input type="text" class="form-control" name="inputTitle" id="inputTitle" placeholder="Enter Title">
        </div>
        <div class="form-group">
          <label for="inputDesc">Description</label>
          <input type="text" class="form-control" name="inputDesc" id="inputDesc" placeholder="Enter Description">
        </div>
        <div class="form-group">
          <label for="inputUrl">URL</label>
          <input type="url" class="form-control" name="inputUrl" id="inputUrl" placeholder="Enter URL">
        </div>
        <div class="form-group">
          <label for="inputImg">URL to Image</label>
          <input type="url" class="form-control" name="inputImg" id="inputImg" placeholder="Enter Image URL">
        </div>
        <div class="form-group">
          <label for="inputTime">Published At</label>
          <input type="date" class="form-control" name="inputTime" id="inputTime" placeholder="Enter Date">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  <%- include('./footer') %>
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  </body>
  <script>
    $(document).ready( function () {
      $('#myTable').DataTable();
    } );
  </script>
</html>
