<div class="hm-gradient">

  <nav class="navbar navbar-icon-top navbar-expand-lg navbar-dark bg-dark" routerLinkActive="active">
    <a class="navbar-brand p-2" style="color: #f7f2f3;
            font-size: xx-large;
            background-color: darkslategray;
            border: solid; border-width: 2px; border-radius:5px;" routerLink="/home">Kiwi <i class="fas fa-kiwi-bird"></i> News</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">
            <i class="fa fa-home"></i>
            Home
            <span class="sr-only">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/sports/news">
            <i class="fa fa-futbol"></i>
            Sports
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">
            <i class="fa fa-envelope-o"></i>
            Contact us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">
            <i class="fa fa-info-circle" aria-hidden="true"></i>
            About us
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/chat">
            <i class="fa fa-comments" aria-hidden="true"></i>
            Chat with us 
          </a>
        </li>
      </ul>


    </div>
  </nav>

  <!--/.Navbar -->


</div>